@{
    ViewBag.Title = "Inicio";
}
<div class="container">
    <div class="row">
        <div class="jumbotron col-md-8">
            <div class="row">
                <h1>Contabilidad de Vales</h1>
            </div>
            <div class="row">
                <br />
                <p class="lead">Aplicación para contabilizar y tener un registro de los vales que se manejan en el negocio y hacer reportes por periodo.</p>
                <br />
                <p><a href="~/Reportes/NuevoReporte" class="btn btn-primary btn-lg">Nuevo Reporte</a></p>
            </div>
        </div>
        <div class="col-md-4 ">
            <img src="~/Content/FondoAgenciaGema.png" class="img-responsive" alt="Logotipo" />
        </div>
    </div>
</div>


